.swiper{
    .slide{
        overflow: hidden;
        position: relative;
        background-color: transparent;
        object-fit: cover;
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        img {
                position: absolute;
                border: 4px solid #000;
                width: 100%;
            } 
    }
    .button {
        z-index: 15000;
    }
   
    .swiper-button-prev{
        left: 0;
        color: #222;
        z-index: 7000;
    }
    .swiper-button-next{
        right: 0;
        color: #222;
        z-index: 7000;
    }
    .swiper-slide-active{
        display: flex;
        justify-content: center;
        .button{
            position: absolute;
            z-index: 10000;
            width: 100px;
            top: 75%;
            height: 50px;
            background-color: #ccc;
            opacity: .7;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
        }
        .button:hover{
            background-color:#ff5600;
            border: 1px solid #ccc;
            opacity: .7;
        }
    }
 
}


.swiper-thumbs {
 
        .swiper-slide{
            height: 20vh;
            object-fit: cover;
            width: 100%;

                .slide-thumb-content {
                        object-fit: cover;
                        height: 22vh;
                        width: 100%;
                    }
            }

}
    



        // &-wrapper{
        //     width:95%;
        //     padding-top: 100%;
        //     overflow: hidden;
        //     position: relative;
    
    
        //     img{
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //     }
        // }