.swiper{
    .slide{
        overflow: hidden;
        position: relative;
        background-color: transparent;
        object-fit: cover;
        width: 100%;
        height: 62vh;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        justify-content: center;
        img {
                position: absolute;
                border: 4px solid #000;
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
            .button-container{
                display: flex;
                justify-content: center;
                    .button {
                            z-index: 15000;
                        }
            }
        
    }
   
    .swiper-button-prev{
        left: 0;
        color: #222;
        z-index: 7000;
    }
    .swiper-button-next{
        right: 0;
        color: #222;
        z-index: 7000;
    }
    .swiper-slide-active{
        display: flex;
        justify-content: center;
        .button{
            position: absolute;
            z-index: 10000;
            width: 100px;
            top: 75%;
            height: 50px;
            background-color: #ccc;
            opacity: .7;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
        }
        .button:hover{
            background-color:#ff5600;
            border: 1px solid #ccc;
            opacity: .7;
        }
    }
 
}


.swiper-thumbs {
 
        .swiper-slide{
            height: 22vh;
            object-fit: cover;
            width: 100%;

                .slide-thumb-content {
                        object-fit: cover;
                        height: 22vh;
                        width: 100%;
                    }
            }

}

@media screen and (max-width:750px){
    .swiper{
        .slide{
            height: 64vh;
        }
    }
}
@media screen and (max-width:580px){
    .swiper{
        .slide{
            height: 70vh;
        }
    }

        .swiper-thumbs {
    
            .swiper-slide {
                height: 20vh;
                object-fit: cover;
                width: 100%;
    
                .slide-thumb-content {
                    object-fit: cover;
                    height: 20vh;
                  
                }
            }
    
        }
}
    



   