.product-card{
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}

.product-card .product-name{
    font-size: 20px;
    margin:10px;
    text-align: center;
}
.product-card .product-img{
    margin:5px;
    border-radius: 6px;
}

.product-card .product-description{
    margin: 10px;
    text-align: center;
}
.product-card .link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.product-card .link .button{
    width: 40%;
    margin:5px auto 5px auto;
    cursor: pointer;
}