
*{
    margin: 0;
    padding: 0;
}
.products-page-container{
    position: relative;
    top:-10px;
}
.products {
    min-height: 85vh;
}
.products-list{
    display: grid;
    grid-auto-rows: auto;
    gap:2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 15px;
    height: 100%;
}

.products-section-title{
    font-size: 28px;
    text-align: center;
    margin: 10px;
    color: #444;
}
.product-card{
    margin-bottom: 40px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
}
