
.product-container{
    min-height: 85vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.product {
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    height: 85%;
    padding: 30px;
    width: 80%;
}

.product-name{
    font-size: 24px;
    margin: 10px auto 15px auto;
    scroll-margin-top: 30vh;
}

.product-image{
    width: 95%;
    height: 300px;
    margin: 5px;
    border-radius: 6px;
    object-fit: cover;
}

.product-description{
    margin: 5px;
    width: 95%;
}

.back-btn button{
    width:80px;
    height: 30px;
    margin:15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    border: .5px solid #222;
    color: #eee;
    background-color: rgba(50, 91, 132, .7);
}

.add-button{
    position: relative;
    width: 94px;
    height: 36px;
    margin-top: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    border: .5px solid #222;
    align-self: flex-end;
    font-size: 15px;
    color:#eee;
    background-color: rgba(50, 91, 132, .7);
}

.back-btn button:hover{
    background-color: rgba(200, 190, 85, .65);
    color: #796840;
}

.add-button:hover{
    background-color: rgba(200, 190, 85, .65);
    color: #796840;
}

.carac-list{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: start;
    

}

.list-item{
    box-sizing: border-box;
    list-style: none;
    margin-top: 6px;
}
.list-icon{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}